*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:linear-gradient(120deg,#4facfe,#00f2fe);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
background:white;
padding:30px;
width:750px;
border-radius:10px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

h1{
text-align:center;
margin-bottom:20px;
}

.form{
display:flex;
gap:10px;
margin-bottom:20px;
}

.form input{
flex:1;
padding:10px;
border-radius:5px;
border:1px solid #ccc;
}

button{
padding:10px 18px;
border:none;
border-radius:5px;
background:#4facfe;
color:white;
cursor:pointer;
}

button:hover{
background:#3b8eea;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:12px;
text-align:center;
}

th{
background:#4facfe;
color:white;
}

tr:nth-child(even){
background:#f5f5f5;
}

.edit{
background:orange;
}

.delete{
background:red;
color:white;
}